html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.va-title {
  margin-top: -65px;
  margin-bottom: 20px;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  width: 21em !important;
  padding: 0 0 1.25em !important;
  font-size: 0.8rem !important;
}



.power-btn {
  background: #ffffff;
  padding: 3px;
  border-radius: 30px;
  box-shadow: 0 0 0.3125rem 0 rgb(0 0 0/12%) !important;
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center !important;
  margin: 0 0 0 12px;
}

.v-bg-color {
  background: #492596 !important;
}
.v-color {
  color: #492596 !important;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
  height: auto !important;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}

thead {
  background: linear-gradient(to right, #4b6cb7, #182848) !important; /* Gradient color */
  color: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.status-Present {
  color: green;
  font-weight: bold;
}

.status-Absent {
  color: red;
  font-weight: bold;
}

.status-Leave {
  color: orange;
  font-weight: bold;
}

.status-HalfDay {
  color: blue;
  font-weight: bold;
}

.status-NotMarked {
  color: gray;
  font-style: italic;
}
.required::after {
  content: " *";
  color: red;
}
.dataTables_wrapper .dataTables_info{
  padding-left:9px;
  font-size:14px;
}