@model LeaveMaster

<form asp-action="saveleavemaster" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Department" class="required"></label>
        <select asp-for="Department" class="form-control form-control-sm" required>
            <option value="">-- Select Department --</option>
            <option value="HR">HR</option>
            <option value="IT">IT</option>
            <option value="Finance">Finance</option>
            <option value="Sales">Sales</option>
        </select>
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label class="required" asp-for="SickLeaves"></label>
        <input asp-for="SickLeaves" type="number" class="form-control form-control-sm" min="0" required />
        <span asp-validation-for="SickLeaves" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="required" asp-for="CasualLeaves"></label>
        <input asp-for="CasualLeaves" type="number" class="form-control form-control-sm" min="0" required />
        <span asp-validation-for="CasualLeaves" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="required" asp-for="PaidLeaves"></label>
        <input asp-for="PaidLeaves" type="number" class="form-control form-control-sm" min="0" required />
        <span asp-validation-for="PaidLeaves" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="required" asp-for="UnpaidLeaves"></label>
        <input asp-for="UnpaidLeaves" type="number" class="form-control form-control-sm" min="0" required />
        <span asp-validation-for="UnpaidLeaves" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="required" asp-for="Year"></label>
        <input asp-for="Year" type="number" class="form-control form-control-sm" min="2025" max="2026" required />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary btn-sm">Save</button>
</form>
