<form id="salaryForm">
    <input type="hidden" id="salaryEmployeeId" name="EmployeeId">
    <div class="form-group">
        <label>Base Salary</label>
        <input type="number" id="baseSalary" name="BaseSalary" class="form-control">
    </div>
    <div class="form-group">
        <label>Overtime Pay</label>
        <input type="number" id="overtimePay" name="OvertimePay" class="form-control">
    </div>
    <div class="form-group">
        <label>Deductions</label>
        <input type="number" id="deductions" name="Deductions" class="form-control">
    </div>
    <button type="button" onclick="saveSalary()" class="btn btn-primary">Save</button>
</form>