@{
    ViewData["Title"] = "Salaries Add/Update";
}
<div class="card rounded-2 mt-3">
    <div class="card-header rounded-top bg-dark text-white text-sm px-3 py-1 d-flex align-items-center">
        <h6 class="mb-0 text-white text-sm me-auto">
            @ViewData["Title"]
        </h6>
        <a href="@Url.Action("list", "salaries")" class="btn btn-light btn-sm py-1 rounded-1 px-3 m-0 ms-auto"> <i class="fa fa-arrow-left me-2"></i> Back</a>
    </div>
    <div class="card-body p-1">
    </div>
</div>

